[submodule "ck3/RICE/upstream"]
	path = ck3/RICE/upstream
	url = https://github.com/cybrxkhan/RICE-for-CK3.git

[submodule "ck3/VIET/upstream"]
	path = ck3/VIET/upstream
	url = https://github.com/cybrxkhan/VIET-Events-for-CK3.git

[submodule "stellaris/Gigastructures/upstream"]
	path = stellaris/Gigastructures/upstream
	url = https://github.com/Pouchkinn-s-Gigastructures/Gigastructures.git
[submodule "ck3/CFP/upstream"]
	path = ck3/CFP/upstream
	url = https://github.com/ElTyranos/CommunityFlavorPack.git
