[submodule "ck3/RICE/upstream"]
	path = ck3/RICE/upstream
	url = https://github.com/cybrxkhan/RICE-for-CK3.git

[submodule "ck3/VIET/upstream"]
	path = ck3/VIET/upstream
	url = https://github.com/cybrxkhan/VIET-Events-for-CK3.git

[submodule "stellaris/Gigastructures/upstream"]
	path = stellaris/Pouchkinn-s-Gigastructures/upstream
	url = https://github.com/Pouchkinn-s-Gigastructures/Gigastructures.git

[submodule "ck3/CFP/upstream"]
	path = ck3/CFP/upstream
	url = https://github.com/ElTyranos/CommunityFlavorPack.git
[submodule "vic3/Community-Mod-Framework/upstream"]
	path = vic3/Community-Mod-Framework/upstream
	url = https://github.com/Victoria-3-Modding-Co-op/Community-Mod-Framework.git
[submodule "vic3/Tech & Res/upstream"]
	path = vic3/Tech & Res/upstream
	url = https://github.com/mattia2110/tech-and-res.git
