### Local environment ###
.env

### Node.js ###
node_modules/

### IntelliJ IDEA ###
.idea/
*.iml
translate-cache.db

### Test files ###
*.test.ts
*.spec.ts

### Upstream repositories (managed by sparse checkout) ###
*/upstream/
**/upstream/
